
mat-sidenav {
    background-color: red !important;
  }
        
  .div-scrollable {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 4000px;
  }
  
  mat-toolbar {
    position: relative;
    z-index: 0;
  }
  