<mat-toolbar  class="mat-elevation-z6" color="primary">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
    </button> {{title}}
</mat-toolbar>
<mat-sidenav-container class="main-sidenav-container" (backdropClick)="opened = !opened"></mat-sidenav-container>
<mat-sidenav [mode]="mode"
            [opened]="opened"
            [fixedInViewport]="true"
            [fixedTopGap]="layoutGap">
            <button [ngStyle]="{'color' : curentTab == 'products' ? 'white' : 'black'}" mat-button (click)="opened = !opened;changeTab('products')">Products</button><br>
            <button [ngStyle]="{'color' : curentTab == 'brands' ? 'white' : 'black'}" mat-button (click)="opened = !opened;changeTab('brands')">Brands</button>
  </mat-sidenav>
  <router-outlet></router-outlet>